GFC_DATA_DIR=./data
GFC_OUTPUT_DIR=./build
GFC_CONFIG_FILE=./config/sources.yaml
GFC_BACKUP_DIR=./data/backups
GFC_TARGET_YEARS=2026,2027
GFC_MIN_CONFIDENCE_TO_PUBLISH=0.78
GFC_MAX_DUPLICATE_DISTANCE_DAYS=14
